# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# Test API keys
g_key

'AIzaSyAX1d_BXKUcI1FP0W0snYgV1_q1dVdtJIA'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
# Load in csv
cities_df = pd.read_csv("output_data/cities.csv")
cities_df.head()

,City Index,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,0,bredasdorp,62,ZA,1612651857,73,-34.5322,20.0403,69.80,6.91
1,1,cherskiy,0,RU,1612651711,80,68.7500,161.3000,-7.20,4.83
2,2,benguela,72,AO,1612652002,83,-12.5763,13.4055,73.24,4.27
3,3,port macquarie,55,AU,1612652125,79,-31.4333,152.9167,81.00,1.99
4,4,busselton,100,AU,1612651684,97,-33.6500,115.3333,57.99,3.00

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Rows 3-8 in this cell have been resolved as of 2/26/2021 - homework is resumitted this date

# I was unable to get gmaps to work:
#    * I made sure that my API was workikng for gmaps and google places.
#    * I checked my environment to see if gmaps was expired - I did not any issues.
#    * When I still had problems, I did a pip install of gmaps in my PythonData environment.
#    * I continued to have problems and at 10pm on the due date, google prevented me from running
#      any more requests.

In [5]:
location_df = cities_df[['Latitude','Longitude']]
location_df

     Latitude  Longitude
0    -34.5322    20.0403
1     68.7500   161.3000
2    -12.5763    13.4055
3    -31.4333   152.9167
4    -33.6500   115.3333
..        ...        ...
560    4.8845    -1.7554
561   -3.8004   102.2655
562   -3.7508   103.6372
563  -38.2667   141.9667
564   -3.7361   -38.6531

[565 rows x 2 columns]

In [6]:
# Customize the size of the figure
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure()
# layout=figure_layout

In [7]:
# Assign the marker layer to a variable

heat_layer = gmaps.heatmap_layer(location_df, weights=cities_df['Humidity'], 
                                 dissipating=False, max_intensity=300,
                                 point_radius = 5)
# Add the layer to the map
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
ideal_weather = cities_df[(cities_df['Max Temp'] > 70)
                         &(cities_df['Wind Speed'] < 10)
                         &(cities_df['Max Temp'] < 80)
                          &(cities_df['Humidity'] < 70)
                          &(cities_df['Cloudiness'] == 0)]
ideal_weather.count()

City Index    9
City          9
Cloudiness    9
Country       9
Date          9
Humidity      9
Latitude      9
Longitude     9
Max Temp      9
Wind Speed    9
dtype: int64

In [9]:
ideal_weather

,City Index,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
60,60,mataura,0,NZ,1612651790,53,-46.1927,168.8643,73.74,2.39
211,211,saint-louis,0,SN,1612651852,49,16.3333,-15.0000,71.60,2.30
254,254,getulio vargas,0,UY,1612652155,65,-32.6796,-53.5494,71.67,5.23
308,308,nuevo ideal,0,MX,1612652163,16,24.8875,-105.0728,72.84,8.86
366,366,ancud,0,CL,1612651850,46,-41.8697,-73.8203,73.40,8.05
391,391,kyaikto,0,MM,1612651932,68,17.3000,97.0167,71.33,4.79
432,432,ayolas,0,PY,1612652180,62,-27.4000,-56.9000,71.51,5.44
446,446,tacuarembo,0,UY,1612651946,53,-31.7333,-55.9833,71.26,3.60
494,494,poum,0,NC,1612651826,68,-20.2333,164.0167,79.92,2.95

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
hotel_df = ideal_weather[['City', 'Country', 'Latitude', 'Longitude']].copy().reset_index().drop(columns='index')
hotel_df['Hotel Name'] = ""
hotel_df.head(9)

             City Country  Latitude  Longitude Hotel Name
0         mataura      NZ  -46.1927   168.8643
1     saint-louis      SN   16.3333   -15.0000
2  getulio vargas      UY  -32.6796   -53.5494
3     nuevo ideal      MX   24.8875  -105.0728
4           ancud      CL  -41.8697   -73.8203
5         kyaikto      MM   17.3000    97.0167
6          ayolas      PY  -27.4000   -56.9000
7      tacuarembo      UY  -31.7333   -55.9833
8            poum      NC  -20.2333   164.0167

In [11]:
#URL and Parameters
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

In [12]:
# use itterows to loop throught the pandas dataframe
for index, row in hotel_df.iterrows():
    
    # get City from hotel_df
    City = row['City']
    Latitude = row["Latitude"]
    Longitude = row["Longitude"]
    params["location"]=f"{Latitude},{Longitude}"
    
    
    # assemble URL to make API request
    print(f"Retrieving Results for Index {index}: {City}.")
    response = requests.get(base_url, params=params).json()
    
    #extract results
    results = response['results']
    
    try:
        print(f"Closest hotel in {City} is {results[0]['name']}.")
        hotel_df.loc[index,"Hotel Name"] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Missing... Skipping.")

Retrieving Results for Index 0: mataura.
Closest hotel in mataura is Ellie's Villa.
Retrieving Results for Index 1: saint-louis.
Missing... Skipping.
Retrieving Results for Index 2: getulio vargas.
Missing... Skipping.
Retrieving Results for Index 3: nuevo ideal.
Closest hotel in nuevo ideal is Hotel Las Águilas.
Retrieving Results for Index 4: ancud.
Closest hotel in ancud is Hotel Arena Gruesa.
Retrieving Results for Index 5: kyaikto.
Closest hotel in kyaikto is နီလာ တည်းခိုခန်း.
Retrieving Results for Index 6: ayolas.
Closest hotel in ayolas is Hotel Ayolas.
Retrieving Results for Index 7: tacuarembo.
Closest hotel in tacuarembo is Hotel Orange.
Retrieving Results for Index 8: poum.
Closest hotel in poum is Gîte kajeon.

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [21]:
# Add marker layer ontop of heat map

hotel_layer = gmaps.marker_layer(
    locations,
    info_box_content=hotel_info)

fig.add_layer(hotel_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Display figure
# Create a combined map
fig = gmaps.figure()

fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
plt.savefig('hotel_heat_map.png')